@import url(http://weloveiconfonts.com/api/?family=entypo);
/* Icon Font */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif; }

h1 {
  font-weight: 400;
  font-size: 2em; }

h2 {
  font-weight: 400; }

.card {
  line-height: 1.15rem; }

.nav-top {
  margin: auto; }

.nav-top > .nav-item {
  padding: 0;
  margin: 0; }
  .nav-top > .nav-item .nav-link {
    color: black;
    font-size: 0.95rem; }

.logo {
  height: 4.5em;
  margin-bottom: 0.4rem; }

.header-buttons {
  margin-left: 0.3rem; }
  .header-buttons button {
    padding: 0.293rem 1.875rem;
    font-size: 0.95rem;
    background-color: #F05928; }
  .header-buttons button:nth-child(1) {
    margin-right: 0.5rem; }
  .header-buttons-wrap {
    float: right; }

@media (min-width: 1200px) {
  .nav-top-wrap {
    justify-content: center; } }
.nav-main-bg {
  background-color: #863C97;
  box-shadow: 0rem 0.5rem 5rem 0rem white;
  z-index: 2;
  position: relative; }

.nav-main-wrap {
  line-height: 0.2rem; }

.nav-main {
  display: flex;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  justify-content: center; }
  .nav-main .nav-item {
    width: 11.8rem; }
    @media screen and (min-width: 1200px) {
      .nav-main .nav-item {
        width: 13rem; }
        .nav-main .nav-item:nth-child(5) {
          width: 16rem; } }
  .nav-main .nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
    line-height: 0.9rem; }
  .nav-main a {
    color: white; }
  .nav-main div li {
    border-left: 0.1rem solid #e6e6e6;
    padding-top: 0.0rem !important;
    padding-bottom: 0.0rem !important; }
    .nav-main div li:last-child {
      border-right: 0.1rem solid #e6e6e6; }
    .nav-main div li a {
      text-align: center;
      font-size: 0.9rem; }

.fa-search {
  padding-left: 0.4375rem; }

.purple-banner {
  background: url("/img/banners/purple_banner.jpg") center;
  background-size: cover;
  padding: 5.6875rem 0 4.5rem 0.625rem;
  border-bottom: solid black 0.1rem; }
  .purple-banner h1 {
    color: white;
    text-align: center;
    padding-bottom: 1rem; }
  .purple-banner p {
    color: white;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.3;
    padding-bottom: 4rem;
    width: 100% !important;
    margin: auto; }
  .purple-banner button {
    font-size: 1.1rem;
    padding: 0 0 0 2.7rem;
    border-color: transparent;
    background-color: #8CC53D; }
  .purple-banner-content {
    text-align: center; }
    .purple-banner-content p {
      width: 71rem; }
  .purple-banner .entypo-right-open-big {
    margin-left: 1.2rem;
    padding-right: 1rem; }

.franchises {
  margin-top: 2.5rem; }

.owl-wrap {
  border-radius: 0.5rem;
  margin-bottom: 4rem; }

.franchise-cards .owl-slide {
  position: relative;
  margin: 0 0.2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  line-height: 1.15rem;
  font-size: 1rem;
  min-height: 16rem; }
  .franchise-cards .owl-slide .owl-img {
    width: 100%; }
    .franchise-cards .owl-slide .owl-img img {
      padding: 0.5rem 0 0.5rem 0;
      height: auto;
      width: 100%; }
  .franchise-cards .owl-slide .owl-body p {
    padding: 0 0.5rem; }

.franchise-cards .owl-btn-wrap {
  bottom: 0;
  width: 100%; }
.franchise-cards .btn {
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: #F05928;
  color: white;
  text-align: center;
  box-shadow: 0rem 0.2rem 0 0 rgba(0, 0, 0, 0.5); }

.orange-banner {
  background: url("/img/banners/orange_banner.jpg") center;
  background-size: cover;
  border-bottom: solid black 0.1rem;
  border-top: solid black 0.1rem;
  padding: 6.5rem 0;
  margin-bottom: 1rem; }

.orange-banner-body div {
  border: 1px solid black;
  border-radius: 0;
  box-shadow: 0.4rem 0.4rem 0 0 rgba(255, 255, 255, 0.2); }

.orange-banner-body {
  text-align: center;
  position: relative !important; }
  .orange-banner-body .card-body {
    padding: 1.5rem 0.5rem; }
  .orange-banner-body .card {
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
  .orange-banner-body h2 {
    padding-bottom: 0.5rem; }

.orange-banner-body button {
  color: white; }
.orange-banner-body > div:nth-child(1) button {
  background-color: #863C97; }
.orange-banner-body > div:nth-child(2) button {
  background-color: #8CC53D; }
.orange-banner-body > div:nth-child(3) button {
  background-color: #00AEEE; }

.featured-franchises {
  padding-top: 1rem;
  margin-bottom: 4rem; }
  .featured-franchises .card-group {
    border: solid 1px black;
    box-shadow: 0.4rem 0.4rem 0 0 rgba(0, 0, 0, 0.5); }
  .featured-franchises .card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0 0.5rem; }
  .featured-franchises .card-group {
    padding: 4rem 0rem; }
    .featured-franchises .card-group .row:first-child {
      padding-bottom: 4rem; }
  .featured-franchises img {
    width: 100%;
    height: auto; }
  .featured-franchises h1 {
    margin-bottom: 2rem; }

.blue-banner {
  background: url("/img/banners/blue_background.jpg") center;
  background-size: cover;
  border-bottom: solid black 0.1rem;
  border-top: solid black 0.1rem;
  padding: 4rem 0; }
  .blue-banner .card {
    text-align: center; }
  .blue-banner .card-deck:first-child {
    margin-right: 1rem; }
  .blue-banner h1 {
    color: white; }
  .blue-banner .blue-row-2 h1 {
    margin-top: 4rem; }
  .blue-banner .card {
    margin: 0 0.5rem;
    padding: 0;
    border: 0.1rem solid black;
    border-radius: 0;
    padding: 0.4rem;
    box-shadow: 0.4rem 0.4rem 0 0 rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
    min-height: 16.5rem;
    align-items: center; }
  .blue-banner p {
    min-height: 3rem; }
  .blue-banner button {
    text-align: center;
    background-color: #F05928;
    color: white;
    box-shadow: 0rem 0.2rem 0 0 rgba(0, 0, 0, 0.5);
    width: 12rem; }
  .blue-banner .col-lg-6 {
    padding: 0 !important; }

.blue-card-img {
  width: 100%;
  height: 8.2rem; }
  .blue-card-img img {
    max-height: 8rem;
    max-width: 100%; }

* {
  padding: 0;
  margin: 0; }

.footer {
  color: white;
  background-color: #227db0;
  padding: 1rem;
  padding-top: 5rem; }
  .footer li {
    list-style-type: none; }
  .footer h4 {
    padding-bottom: 0.4rem; }

.footer-list {
  text-align: center; }

.footer-pad-bot {
  padding-bottom: 0.5rem; }

.footer-pad-top {
  padding-top: 0.5rem; }

.social-icons {
  margin-left: -1rem; }

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  padding: 0rem 0rem;
  font-size: 4rem; }

.col-lg-3 {
  padding: 0; }

.footer-2nd-col {
  margin-left: 2rem; }

.footer-3rd-col {
  margin-left: 0rem; }

/*# sourceMappingURL=main.css.map */
