
<div class="owl-slide">
                        <div class="owl-img">
                            <img class="" src="img/popular_franchises/1.png" alt="Card image cap">
                        </div>
                        <div class="owl-body">
                            <p class="owl-text">EnviroVent provide energy saving products and services which improve the quality of the air in people's...</p>
                        </div>
                        <div class="owl-btn-wrap">
                            <button type="button" class="btn m-2">Find Out More ></button>
                        </div>
                    </div>
                    <div class="owl-slide">
                        <div class="owl-img">
                            <img class="" src="img/popular_franchises/2.png" alt="Card image cap">
                        </div>
                        <div class="owl-body">
                            <p class="owl-text">Set up a successful and profitable estate and letting agency with Go Direct Lettings and secure yourself with...</p>
                        </div>
                        <div class="owl-btn-wrap">
                            <button type="button" class="btn m-2">Find Out More ></button>
                        </div>
                    </div>

                     <div class="owl-slide">
                         <div class="owl-img">
                             <img class="" src="img/popular_franchises/3.png" alt="Card image cap">
                         </div>
                        <div class="owl-body">
                            <p class="owl-text">Join the market leader in offering customers the choice of either baked or unbaked pizza - or both with...</p>
                        </div>
                         <div class="owl-btn-wrap">
                            <button type="button" class="btn m-2">Find Out More ></button>
                         </div>
                    </div>

                    <div class="owl-slide">
                        <div class="owl-img">
                            <img class="" src="img/popular_franchises/4.png" alt="Card image cap">
                        </div>
                       <div class="owl-body">
                           <p class="owl-text">Start your own home care business with one of the first and best home care franchises within the...</p>
                       </div>
                        <div class="owl-btn-wrap">
                            <button type="button" class="btn m-2">Find Out More ></button>
                        </div>
                    </div>

                     <div class="owl-slide">
                         <div class="owl-img">
                            <img class="" src="img/popular_franchises/5.png" alt="Card image cap">
                         </div>
                        <div class="owl-body">
                            <p class="owl-text">Chemex as a full member of the bfa and is a UK based and owned franchise with a truly unique offering...</p>
                        </div>
                         <div class="owl-btn-wrap">
                            <button type="button" class="btn m-2">Find Out More ></button>
                         </div>
                    </div>

                     <div class="owl-slide">
                         <div class="owl-img">
                            <img class="" src="img/popular_franchises/6.png" alt="Card image cap">
                         </div>
                        <div class="owl-body">
                            <p class="card-text">A Very Different Property Franchise Opportunity With No Experience Needed And High Profit Potential...</p>
                        </div>
                         <div class="owl-btn-wrap">
                            <button type="button" class="btn m-2">Find Out More ></button>
                         </div>

                    </div>