@import '../_variables';

// ------------ BLUE BANNER -------------

.blue-banner {
    background: url('/img/banners/blue_background.jpg') center;
    background-size: cover;
    border-bottom: solid black 0.1rem;
    border-top: solid black 0.1rem;
    padding: 4rem 0;
    .card {
        text-align: center;
    }
    .card-deck:first-child {
        margin-right: 1rem;
    }
    h1 {
        color: white;
    }
    .blue-row-2 h1{
        margin-top: 4rem;
    }
    .card {
        margin: 0 0.5rem;
        padding: 0;
        border: 0.1rem solid black;
        border-radius: 0;
        padding: 0.4rem;
        box-shadow: 0.4rem 0.4rem 0 0 rgba(0, 0, 0, 0.2);
        font-size: 0.9rem;
        min-height: 16.5rem;
        align-items: center;
    }
    p {
        min-height: 3rem;
    }
    button {
        text-align: center;
        background-color: #F05928;
        color: white;
        box-shadow: 0rem 0.2rem 0 0 rgba(0, 0, 0, 0.5);
        width: 12rem;
    }
    .col-lg-6 {
        padding: 0 !important;
    }
}

.blue-card-img {
    width: 100%;
    height: 8.2rem;
    img {
        max-height: 8rem;
        max-width: 100%;
    }
}

// --------------------------------------