@import '../_variables';

// -------- FEATURED FRANCHISES ---------

.featured-franchises {
    padding-top: 1rem;
    margin-bottom: 4rem;
    .card-group {
        border: solid 1px black;
        box-shadow: 0.4rem 0.4rem 0 0 rgba(0, 0, 0, 0.5);
    }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 0 0.5rem;
    }
    .card-group {
        padding: 4rem 0rem;
        .row:first-child {
            padding-bottom: 4rem;
        }
    }
    img {
        width: 100%;
        height: auto;
    }
    h1 {
        margin-bottom: 2rem;
    }
}

// --------------------------------------
