@import '../_variables';

// --------------- FOOTER ---------------
* {
    padding: 0;
    margin: 0;
}
.footer {
    color: white;
    background-color: #227db0;
    padding: 1rem;
    padding-top: 5rem;
    li {
        list-style-type: none;
    }
    h4 {
        padding-bottom: 0.4rem;
    }
}

.footer-list {
    text-align: center;
}

.footer-pad-bot {
    padding-bottom: 0.5rem;
}

.footer-pad-top {
    padding-top: 0.5rem;
}

.social-icons {
    margin-left: -1rem;
}
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    padding: 0rem 0rem;
    font-size: 4rem;
}

.col-lg-3 {
    padding: 0;
}

.footer-2nd-col {
    margin-left: 2rem;
}
.footer-3rd-col {
    margin-left: 0rem;
}
// --------------------------------------