@import '../_variables';

// -------------- MAIN NAV --------------

.nav-main-bg {
    background-color: $main-nav-bg-color;
    box-shadow: 0rem 0.5rem 5rem 0rem white;
    z-index: 2;
    position: relative;
}

.nav-main-wrap {
    line-height: 0.2rem;
}

.nav-main {
    display: flex;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    justify-content: center;
    .nav-item {
        width: 11.8rem;
        @media screen and (min-width: 1200px) {
            width: 13rem;
            &:nth-child(5) {
                width: 16rem;
            }
        }
    }
    .nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important;
        line-height: 0.9rem;
    }
    a {
        color: $main-nav-color;
    }
    div li {
        border-left: 0.1rem solid hsla(0, 0%, 90%, 1);;
        &:last-child {
            border-right: 0.1rem solid hsla(0, 0%, 90%, 1);;
        }
        padding-top: 0.0rem !important;
        padding-bottom: 0.0rem !important;
        a {
            text-align: center;
            font-size: 0.9rem;
        }
    }
}

.fa-search {
    padding-left: 0.4375rem;
}

// --------------------------------------