@import '../_variables';

// ------------ ORANGE BANNER ------------

.orange-banner {
    background: url('/img/banners/orange_banner.jpg') center;
    background-size: cover;
    border-bottom: solid black 0.1rem;
    border-top: solid black 0.1rem;
    padding: 6.5rem 0;
    margin-bottom: 1rem;
}

.orange-banner-body div {
    border: 1px solid $orange-banner-card-border;
    border-radius: 0;
    box-shadow: 0.4rem 0.4rem 0 0 $orange-banner-shadow;
}

.orange-banner-body {
    text-align: center;
    position: relative !important;
    .card-body {
        padding: 1.5rem 0.5rem;
    }
    .card {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    h2 {
        padding-bottom: 0.5rem;
    }
}

.orange-banner-body {
    button {
        color: white;
    }
    > div:nth-child(1) button {
        background-color: $orange-banner-button-1;
    }
    > div:nth-child(2) button {
        background-color: $orange-banner-button-2;
    }
    > div:nth-child(3) button {
        background-color: $orange-banner-button-3;
    }
}

// --------------------------------------