@import '../_variables';

// ---------- POPULAR FRANCHISES -----------

.franchises {
    margin-top: 2.5rem;
}

.owl-wrap {
    border-radius: 0.5rem;
    margin-bottom: 4rem;
}

.franchise-cards .owl-slide {
    position: relative;
    margin: 0 0.2rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    line-height: 1.15rem;
    font-size: 1rem;
    min-height: 16rem;

    .owl-img {
        width: 100%;
        img {
            padding: 0.5rem 0 0.5rem 0;
            height: auto;
            width: 100%;
        }
    }

    .owl-body p {
        padding: 0 0.5rem;
    }
}

.franchise-cards {
    .owl-btn-wrap {
        bottom: 0;
        width: 100%;
    }
    .btn {
        position: absolute;
        width: 80%;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto !important;
        margin-right: auto !important;
        background-color: $franchise-btn-bg-color;
        color: $franchise-btn-color;
        text-align: center;
        box-shadow: 0rem 0.2rem 0 0 rgba(0, 0, 0, 0.5);
    }
}




