@import '../_variables';

// ----------- PURPLE BANNER ------------

.purple-banner {
    background: url('/img/banners/purple_banner.jpg') center;
    background-size: cover;
    padding: 5.6875rem 0 4.5rem 0.625rem;
    border-bottom: solid black 0.1rem;

    h1 {
        color: $purple-banner-text;
        text-align: center;
        padding-bottom: 1rem;
    }
    p {
        color: $purple-banner-text;
        font-size: 1.3rem;
        text-align: center;
        line-height: 1.3;
        padding-bottom: 4rem;
        width: 100% !important;
        margin: auto;

    }
    button {
        font-size: 1.1rem;
        padding: 0 0 0 2.7rem;
        border-color: transparent;
        background-color: #8CC53D;
    }
    &-content {
        text-align: center;
        p {
            width: 71rem;
        }
    }
    .entypo-right-open-big {
        margin-left: 1.2rem;
        padding-right: 1rem;
    }
}

// --------------------------------------