@import '../_variables';

// -------------- TOP NAV --------------

.nav-top {
    margin: auto;
}

.nav-top > .nav-item {
    padding: 0;
    margin: 0;
    .nav-link {
        color: black;
        font-size: 0.95rem;
    }
}

.logo {
    height: 4.5em;
    margin-bottom: 0.4rem;
}

.header-buttons {
    margin-left: 0.3rem;
    button {
        padding: 0.293rem 1.875rem;
        font-size: 0.95rem;
        background-color: $top-btn-color;
    }
    button:nth-child(1) {
        margin-right: 0.5rem;
    }
    &-wrap {
        float: right;
    }
}

@media (min-width: 1200px) {
    .nav-top-wrap {
        justify-content: center;
    }
}

// --------------------------------------