@import '../partials/_variables';
// ======================================
//  FONTS
// ======================================

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* Icon Font */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

// ======================================
//  BASE STYLES
// ======================================


h1 {
    font-weight: 400;
    font-size: 2em;
}

h2 {
    font-weight: 400;
}

.card {
    line-height: 1.15rem;
}
