// ======================================
//  COLOR VARIABLES
// ======================================

//Top Container
$top-btn-color: #F05928;

//Main Nav
$main-nav-bg-color: #863C97;
$main-nav-color: white;

//Purple Banner
$purple-banner-text: white;
$purple-banner-img-border: black;

//Popular Franchises
$franchise-btn-bg-color: #F05928;
$franchise-btn-color: white;

//Orange Banner
$orange-banner-card-border: black;
$orange-banner-shadow: rgba(255, 255, 255, 0.2);
$orange-banner-button-1: #863C97;
$orange-banner-button-2: #8CC53D;
$orange-banner-button-3: #00AEEE;